@page
@model ServerSideConnect4.Pages.Players.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />

<div class="card" style="width: 40%;">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Player.ID" class="control-label"></label>
                        <input asp-for="Player.ID" class="form-control" />
                        <span asp-validation-for="Player.ID" class="text-danger"></span>
                        @* Display the ID validation error message *@
                        <span class="text-danger">@ViewData.ModelState["ID"]?.Errors[0].ErrorMessage</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Player.FirstName" class="control-label"></label>
                        <input asp-for="Player.FirstName" class="form-control" />
                        <span asp-validation-for="Player.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Player.Phone" class="control-label"></label>
                        <input asp-for="Player.Phone" class="form-control" />
                        <span asp-validation-for="Player.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Player.Country" class="control-label"></label>
                        <select asp-for="Player.Country" class="form-select" asp-items="@Model.countries">
                            <option selected disabled value="">Choose...</option>
                        </select>
                        <span asp-validation-for="Player.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
