@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a site that host all of the queries and registration for our "Connect 4" project.</p>
</div>
